
.st1{fill:none;}
.al-l-substrate,
.al-l-wrapper {
    position: relative;
    overflow: hidden;
}

svg {
    vertical-align: middle;
}
path.st0 {
    fill: rgba(255,255,255,0.5);
    transition: fill 0.3s linear;
}
path.st0:hover {
    fill: #FF931E;
}
video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*display: none;*/
}
video.active {
    /*display: block;*/
}
.img-item {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 11;
    margin: auto;
    /*display: none;*/
    /*visibility: hidden;*/
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s linear;
}
.img-item.active {
    /*display: block;*/
}
.back-button {
    position: absolute;
    top: 10%;
    left: 10%;
    cursor: pointer;
}
img {
    max-width: 100%;
}
.video-item {
    /*opacity: 0;*/
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transition: opacity 1s linear;
}
.animated {
    visibility: visible;
    /*opacity: 1;*/
    z-index: 10;
    -webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.up-element {
    z-index: 11;
}

.popover {
    position: absolute;
    top: 0;left: 0;
    z-index: 10;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    z-index: -1;
    transition: top 0.1s linear, left 0.1s linear, opactity 0.5s linear;
}
.popover.active {
    opacity: 1;
    z-index: 10;
}

.hidden {
    opacity: 0;
    z-index: -1;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .6 )
                url('http://sampsonresume.com/labs/pIkfp.gif')
                50% 50%
                no-repeat;
}

body.loading {
    /*overflow: hidden;*/
}
body.loading .modal {
    display: block;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
