
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box; }

* html {
  font-size: 100%; }

html {
  font-size: 16px;
  line-height: 24px; }

body {
  font-family: "opensans", sans-serif;
  color: #000; }

a {
  color: inherit; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

img {
  border: none; }

input {
  padding-left: 5px;
  padding-right: 5px; }
  input::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic; }
  input::-moz-placeholder {
    color: #ccc;
    font-style: italic; }
  input:-ms-input-placeholder {
    color: #ccc;
    font-style: italic; }
  input::placeholder {
    color: #ccc;
    font-style: italic; }
  input[type="submit"] {
    -webkit-appearance: none; }

h1 {
  font-size: 64px;
  line-height: 72px; }

h2 {
  font-size: 45px;
  line-height: 60px; }

h3 {
  font-size: 32px;
  line-height: 36px; }

h4 {
  font-size: 23px;
  line-height: 36px; }

h5 {
  font-size: 16px;
  line-height: 24px; }

h6 {
  font-size: 11px;
  line-height: 24px; }

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

b,
strong {
  font-family: "opensans-bold", sans-serif; }

i,
em {
  font-family: "opensans-italic", sans-serif; }

.b-ruble {
  font-family: "ruble"; }

.b-form__inp {
  display: none; }

.b-form__lbl {
  width: 100%; }

.b-form__inp:checked + .b-form__lbl {
  background-color: #fff;
  color: #000;
  border-color: transparent; }

.b-form__inp:checked + .b-form__lbl:hover {
  border-color: #00adf9; }

.b-form__inp:disabled + .b-form__lbl,
.b-form__inp[readonly] + .b-form__lbl {
  background-color: #8b0000;
  border-color: transparent;
  cursor: default; }

input {
  transition: border-color 0.3s ease;
  height: 40px;
  display: inline-block;
  padding: 0 5px;
  font: 15px "opensans", sans-serif;
  border: 1px solid transparent;
  width: 100%;
  -webkit-appearance: none; }
  input:focus {
    border: 1px solid #009bdf; }
  input[type="submit"] {
    -webkit-appearance: none; }

textarea {
  transition: border-color 0.3s ease;
  min-height: 120px;
  display: inline-block;
  padding: 5px;
  font: 15px "opensans", sans-serif;
  border: 1px solid transparent;
  width: 100%;
  resize: none; }
  textarea:focus {
    border: 1px solid #009bdf; }

.b-btn {
  -webkit-transition: border-color 1s false;
  -webkit-transition-delay: 0s;
  transition: border-color 1s false false;
  border-width: 1px;
  border-style: solid;
  border-color: #009bdf;
  padding: -1px;
  font-size: 14px;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 0 10px; }

.b-btn_size_medium {
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  height: 48px;
  vertical-align: middle; }

.b-btn_filter_controls {
  border: 1px solid #8ca7c8;
  width: auto;
  padding: 0 13px;
  height: 40px;
  font: 15px/37px "opensans", sans-serif;
  text-transform: none;
  display: inline-block; }

.b-filter__inp-ch:checked + .b-btn_filter_controls {
  background-color: #fff;
  color: #000;
  border: 1px solid transparent; }
  .b-filter__inp-ch:checked + .b-btn_filter_controls:hover {
    border: 1px solid #009bdf; }

.b-filter__inp-ch[readonly] + .b-btn_filter_controls {
  background-color: #8ca7c8;
  color: #000;
  border: 1px solid transparent; }
  .b-filter__inp-ch[readonly] + .b-btn_filter_controls:hover {
    cursor: default;
    border: 1px solid transparent; }

.b-filter__inp-ch:checked[readonly] + .b-btn_filter_controls {
  color: #fff;
  border: 1px solid #fff; }
  .b-filter__inp-ch:checked[readonly] + .b-btn_filter_controls:hover {
    cursor: pointer;
    border: 1px solid #009bdf; }

.b-btn_size_small {
  height: 30px;
  font: 15px/27px "opensans", sans-serif; }

.b-btn_fitler_result {
  background-color: #00adf9;
  width: 25%;
  height: 72px;
  font: 15px "opensans", sans-serif;
  text-transform: none;
  border: none;
  color: inherit; }
  .b-btn_fitler_result:hover {
    background-color: #2dbfff; }
  .b-btn_fitler_result[disabled] {
    background-color: #7c7c7c;
    cursor: default; }
    .b-btn_fitler_result[disabled]:hover {
      color: inherit; }

.l-row {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px; }
  .l-row:after {
    content: " ";
    display: block;
    clear: both; }
  .l-row:after {
    content: " ";
    display: block;
    clear: both; }

.l-col {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

.b-filter {
  padding-top: 48px;
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff; }

.b-filter__title {
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 24px;
  color: #fff;
  font-family: "opensans", sans-serif;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: .1em; }

.b-filter__btn {
  line-height: 36px;
  float: left;
  margin-right: 10px; }

.b-filter__lbl {
  cursor: pointer; }

.b-filter__inp-ch {
  display: none; }

.b-filter__row {
  line-height: 48px;
  margin-bottom: 48px;
  height: 48px; }
  .b-filter__row:after {
    content: " ";
    display: block;
    clear: both; }

.b-filter__row_size_small {
  line-height: 36px; }
  .b-filter__row_size_small .b-filter__btn {
    vertical-align: middle;
    padding-top: 4px; }

.b-filter__name {
  width: 8.33333%;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

.b-filter__range-slider {
  width: 52.08333%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 48px;
  min-height: 48px;
  position: relative; }

.b-filter__price {
  width: 35.41667%;
  float: right;
  padding-left: 10px;
  padding-right: 10px; }

.b-filter__inp {
  width: 88px;
  margin: 0 10px;
  text-align: center; }

.b-filter__numbers {
  width: 100%;
  position: absolute;
  top: 25px;
  left: 0;
  color: #009bdf;
  font-size: 13px; }

.b-filter__item {
  width: 33.33333%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding: 0;
  color: #000; }
  .b-filter__item:nth-child(2) {
    text-align: center; }
  .b-filter__item:last-child {
    text-align: right; }

.b-filter_style_visual {
  padding: 0; }
  .b-filter_style_visual .b-filter__btn {
    float: none;
    display: inline-block; }

.b-filter_pos_floors {
  border-left: 1px solid #8ca7c8;
  border-top: 1px solid #8ca7c8;
  border-right: 1px solid #8ca7c8;
  padding: 0; }
  .b-filter_pos_floors .b-filter__row {
    margin-bottom: 0;
    height: auto; }
  .b-filter_pos_floors .b-filter__btn {
    line-height: 20px;
    margin-right: 0; }

.ui-slider-horizontal {
  height: 1px;
  overflow: visible;
  position: relative;
  top: 19px;
  background: #aaaaaa; }

.ui-slider .ui-slider-handle {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  background-color: #009bdf;
  cursor: pointer;
  border: none; }
  .ui-slider .ui-slider-handle:hover {
    background-color: #65bcf7; }

.ui-slider-horizontal .ui-slider-handle {
  top: -13px; }

.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 2px;
  background: #ffffff; }

.hide {
  display: none; }

.show {
  display: block; }
